@import '../utilities/variables.scss';

//Hero Section Properties
#hero-section {
    height: $sections-height;
    text-align: center;

    #hero-section-container {
        margin: auto;

        //Center In Middle Of Div/Screen
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: fit-content;
        font-family: $header-font;
        color: $main-element-color;

        //Rotating Headers
        .hero-section-greetings {
            margin: 0; 
        }

        #hero-section-welcome {
            font-size: 10rem;
            display: none;
        }

        #hero-section-hello {
            font-size: 12rem;
            display: none;
        }
    }
}